/* src/app/home-page/home-page.component.css */
.homepage-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.carousel, .carousel-inner, .carousel-item, .carousel-image {
  height: 100vh;
}

.carousel-image {
  object-fit: cover;
}

.overlay-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  z-index: 10;
}

.button-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
